@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');

/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
/*                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Hero section
        4.3 Articles
        4.4 USPs
        4.5 Contact form
    5. Footer
    6. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

button {
    font-family: 'Roboto', 'Comic Sans MS', sans-serif;
    font-weight: 400;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--button-color);
    border: 0;
    color: var(--colored-background-text-color);
    margin: 0 auto;
    padding: 12px 24px;
    border-radius: 24px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
}

a:link {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--highlight-text-color);
}

a:visited {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--highlight-text-color);
}

a:hover {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--highlight-text-color);
    cursor: pointer;
}

/* ------------------------------- 2. Typography ----------------------------------- */
html {
    font-family: 'Roboto', 'Comic Sans MS', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Georgia', serif;
}

h2, h3 {
    padding: 12px 0;
}

h4 {
    padding: 10px 0 0 0;
}

p {
    padding: 20px 0;
}

.p-heavy {
    font-weight: 500;
}

.p-normal {
    font-weight: 400;
}

.p-light {
    font-weight: 300;
}

.background-text {
    display: block;
    z-index: -1;
    color: var(--floating-text-color);
    font-size: 300px;
    font-weight: 500;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
:root {
    --highlight-text-color: #5722CD;
    --normal-text-color: #0C0C0C;
    --USP-text-color: #7A7A7A;
    --button-color: #ED4385;
    --colored-background-text-color: white;
    --floating-text-color: #F2F0FF;
    --floating-text-on-colored-background: white;
    --default-margin: 0 auto;
}

/* --------------- 3.2 Other --------------------------- */
.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    position: relative;
}

.inner-container {
    flex-basis: 90vw;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default-text-width {
    max-width: 900px;
    text-align: center;
}

.default-padding {
    padding: 60px 0;
}
/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    background: linear-gradient(90deg, rgba(72, 69, 228, 1) 35%, rgba(87, 34, 205, 1) 100%);
    color: var(--colored-background-text-color);
    clip-path: polygon(0 95%, 100% 100%, 100% 0, 0 0);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
}

.nav-bar-container {
    width: 400px;
    list-style: none;
    padding: 12px 0;
    flex-grow: 0;
    flex-shrink: 1;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header nav ul a:link {
    text-decoration: none;
    color: var(--colored-background-text-color);
    font-size: 0.75rem;
    font-weight: 300;
}

header nav ul a:visited {
    text-decoration: none;
    color: var(--colored-background-text-color);
    font-size: 0.75rem;
    font-weight: 300;
}

header nav ul a {
    text-decoration: none;
    color: var(--colored-background-text-color);
    font-size: 0.75rem;
    font-weight: 300;
    cursor: pointer;
}

.header-hero-content {
    padding-bottom: 120px;
}

header img {
    height: 80px;
}

/* --------------- 4.2 Hero section ------------------- */
.hello-section .inner-container {
    color: var(--highlight-text-color);
    max-width: 500px;
    z-index: 0;
}

.hello-section .background-text {
    position: absolute;
    margin-top: -100px;
}

.hello-section p {
    color: var(--normal-text-color);
    padding-top: 60px;
    font-size: 0.75rem;
}

/* --------------- 4.3 Articles ------------------- */
.case-studies {
    background-color: rgba(0, 0, 160, 0.025);
    clip-path: polygon(0% 98%, 100% 100%, 100% 2%, 0 0);
    padding: 150px 0 120px 0;
}

.case-studies .background-text {
    position: absolute;
    margin-top: -160px;
    color: var(--floating-text-on-colored-background);
}

.case-study {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.case-study-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

.case-img-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.case-studies img {
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.25);
}

.case-study:nth-of-type(even) {
    flex-direction: row-reverse;
}

.case-studies a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 20px 0;
}

.link-hover::after {
    display: inline-block;
    content: '';
    width: 15px;
    height: 1px;
    background-color: var(--highlight-text-color);
    margin: 0 0 4px 12px;
    transition: all 0.2s ease-in-out;
}

.link-hover:hover::after {
    width: 55px;
}

/* --------------- 4.4 USPs ------------------- */
.services .services-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 160px auto 100px auto;
}

.services .background-text {
    position: absolute;
    margin-top: -60px;
}

.services article {
    text-align: left;
    color: var(--highlight-text-color);
    border: 2px solid var(--highlight-text-color);
    padding: 24px 32px;
    width: 270px;
    height: 270px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

.services img {
    display: block;
    height: 60px;
}

.services p {
    color: var(--USP-text-color);
    font-size: 0.65rem;
}

/* --------------- 4.5 Contact form ------------------- */
.contact-form {
    background: linear-gradient(90deg, rgba(72, 69, 228, 1) 35%, rgba(87, 34, 205, 1) 100%);
    color: var(--colored-background-text-color);
    clip-path: polygon(0 100%, 100% 100%, 100% 5%, 0 0);
    text-align: left;
    vertical-align: center;
}

.contact-form-title {
    font-size: 2rem;
}

form p {
    font-size: 0.75rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 500;
    font-size: 0.65rem;
}

form input,
form textarea {
    font-family: inherit;
    font-size: 0.65rem;
    width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid var(--USP-text-color);
}
/* --------------- 5. Footer ------------------------- */
footer {
    text-align: center;
    color: var(--colored-background-text-color);
    background-color: var(--normal-text-color);
    padding: 4px 0;
    font-size: 0.8rem;
}

/* ------------------------------- 6. Media Queries -------------------------------- */
@media screen and (max-width: 576px) {

    .default-text-width {
        max-width: 440px;
    }

    button {
        font-size: 0.6rem;
    }

    .background-text {
        display: block;
        z-index: -1;
        color: var(--floating-text-color);
        font-size: 160px;
        font-weight: 500;
    }

    .hello-section {
        margin: 32px 0;
    }

    .hello-section .background-text {
        position: absolute;
        margin-top: -40px;
    }

    .case-study-content {
        justify-content: center;
    }

    .case-studies {
        padding: 120px 0 0 0;
    }

    .case-study {
        display: flex;
        flex-direction: column-reverse;
        flex-basis: auto;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .case-study:nth-of-type(even) {
        flex-direction: column-reverse;
    }

    .case-img-wrapper {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    .case-studies .background-text {
        position: absolute;
        margin-top: -80px;
    }

    .services .background-text {
        position: absolute;
        margin-top: 12px;
        font-size: 100px;
    }

    .services .services-articles {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 100px 0 80px 0;
    }

    form input,
    form textarea {
        font-family: inherit;
        font-size: 0.65rem;
        width: 90vw;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 2px;
        border: 1px solid var(--USP-text-color);
    }
}
